<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title><%= page_title %></title>
  <!-- Styles -->
  <%= stylesheet_link_tag "main", "responsive", "settings", "blue"%>
  <!-- Base JS -->
  <%= javascript_include_tag "jquery-1.9.1.min", "main" %>
  <!-- Revolution Slider -->
  <%= javascript_include_tag "jquery.themepunch.plugins.min", "jquery.themepunch.revolution.min", "revolution-slider-options" %>
  <!-- Prety photo -->
  <%= javascript_include_tag "jquery.prettyPhoto" %>
  <script>
    $(document).ready(function(){
      $("a[rel^='prettyPhoto']").prettyPhoto();
    });
  </script>
  <%= yield :html_head %>
</head>
<body class="bg-irongrip">
<%= cms_toolbar %>
  <div class="main boxed">
    <!-- TOP BAR
  ============================================= -->
    <div class="b-top-bar">
      <div class="layout">
        <div class="wrap-left">
            <span class="top-bar-text">Groupe des responsables en analyse et évaluation de programme</span>
        </div>
        <div class="wrap-right">
          <% if logged_in? %>
            Bonjour, <%= current_user.login %>
            <%= link_to "Déconnection", cms.logout_path %>
          <% else %>
            <a href="#login-form">Connection des membres</a>
          <% end %>
        </div>
      </div>
    </div>
    <!-- END TOP BAR
  ============================================= -->

    <!-- HEADER
  ============================================= -->
    <div class="header">
      <div class="layout clearfix">
        <div class="mob-layout wrap-left">
          <!-- Logo -->
          <a href="/" class="logo">
            <%= image_tag 'logo.png'%>
          </a>
          <!-- Mobile Navigation Button -->
          <div class="btn-menu icon-reorder"></div>
          <!-- Navigation -->
          <ul class="menu">
            <li>
              <a href="/" class="<%= 'active' if current_page.name == 'Accueil' %>">Accueil</a>
            </li>
            <li>
              <a href="/notre-organisme" class="<%= 'active' if current_page.name == 'Notre organisme' %>">Notre organisme</a>
            </li>
            <li>
              <a href="/prix" class="<%= 'active' if current_page.name == 'prix' %>">Prix d'excellence</a>
            </li>
            <li>
              <a href="/documentation-publique" class="<%= 'active' if current_page.name == 'documents' %>">Documents</a>
            </li>
            <li>
              <a href="/liens" class="<%= 'active' if current_page.name == 'liens' %>">Liens</a>
            </li>
            <li>
              <a href="/contact"><i class="icon-envelope"></i>Contactez-nous</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Mobile Navigation -->
      <ul class="mob-menu">
        <li>
          <div>
            <a href="/" class="<%= 'active' if current_page.name == 'Accueil' %>">Accueil</a>
          </div>
        </li>
        <li>
          <div>
            <a href="/notre-organisme" class="<%= 'active' if current_page.name == 'Notre organisme' %>">Notre organisme</a>
          </div>
        </li>
        <li>
          <div>
            <a href="/prix" class="<%= 'active' if current_page.name == 'prix' %>">Prix d'excellence</a>
          </div>
        </li>
        <li>
          <div>
            <a href="/documentation-publique" class="<%= 'active' if current_page.name == 'documents' %>">Documents</a>
          </div>
        </li>
        <li>
          <div>
             <a href="/liens" class="<%= 'active' if current_page.name == 'liens' %>">Liens</a>
          </div>
        </li>
        <li>
          <div>
            <a href="/contact"><i class="icon-envelope"></i>Contactez-nous</a>
          </div>
        </li>
      </ul>
    </div>
    <!-- End Mobile Navigation -->
  <!-- END HEADER
  ============================================= -->