<div class="row-item col-1_4" id="login-form">
  <h3>Connection section des membres</h3>
  <% if logged_in? %>
    Bonjour, <%= current_user.login %> <%= link_to "Déconnection", cms.logout_path %>
  <% else %>
    <% if flash[:login_error] %>
      <div class="b-message message-error">
        <%= flash[:login_error] %>
       <div class="message-close icon-remove"></div>
      </div>
    <% end %>

      <%= form_tag cms.login_path , :class => "b-form b-contact-form" do %>
      <div class="input-wrap m-full-width">
        <%= hidden_field_tag :success_url, @success_url %>
        <%= hidden_field_tag :failure_url, @failure_url %>
        <%= label_tag :login, "" %>
        <%= text_field_tag :login, @login, :placeholder => "Utilisateur", :class => "field-name" %>
        <%= label_tag :password, "  " %>
        <%= password_field_tag :password, :placeholder => "Mot de passe", :class => "field-password" %>
        <%= label_tag :remember_me, "se souvenir de moi" %>
        <%= check_box_tag :remember_me, '1', @remember_me %>
        <%= submit_tag "Connection" , :class => "btn-submit btn colored" %>
      </div>
    <% end %>
  <% end %>
</div>